page-home {
	img {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }

    ion-slides {
        height: 200px;
        position: absolute;
        bottom: 100px;
 
        ion-slide {
            color: #fff;
        }
 
        h4 {
            font-weight: bold;
        }
 
        .swiper-pagination-bullet {
            background: map-get($colors, light);
        }
 
    }

    .myForm {
        //not responsive at the moment....
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    	width: 700px;

        #formHeader{
            font-family: "Times New Roman", Times, serif;
            padding-bottom: 50px;
            font-size: 45px;
            text-align: center;
            color: white;
        }

        #submit{
            font-family: "Times New Roman", Times, serif;
            padding: 20px;
            font-size: 25px;
        }
        #space{
            padding: 8px;
        }

    }
    
    .invalid {
        border: 1px solid #ea6153;
    }

}
