

<ion-header>
  <ion-navbar>
    <ion-title>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
       
      </button>
    </ion-title>

    <ion-buttons end>
      <button ion-button *ngIf="user && user.isLoggedIn" (click)="logout()">
        Logout
      </button>
      <button ion-button *ngIf="user && user.isLoggedIn">
        {{user.email}}
      </button>
      <button ion-button *ngIf="!user || !user.isLoggedIn" (click)="launchLoginPage()">
        Login
      </button>
      <button ion-button *ngIf="!user || !user.isLoggedIn" (click)="launchSignupPage()">
      	SignUp
      </button>
      <button ion-button (click)="presentPopover($event)">
        Plans
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>

<img src="assets/images/background.jpg"/>

<form [formGroup]="destinationForm" class="myForm" (ngSubmit)="logForm()">
  <h1 id="formHeader">Pick Your Destination <span *ngIf="user && user.isLoggedIn">{{user.email}} !</span></h1>
	<ion-item href="#">
		<ion-label>Country</ion-label>
		<ion-input [(ngModel)]="country" formControlName="country" name="country" required text-right></ion-input>
	</ion-item>

  <ion-item *ngIf="!destinationForm.controls.country.valid  && (destinationForm.controls.country.dirty || submitAttempt)">
     <p>Please enter your destination.</p>
  </ion-item>
	<!-- <ion-item href="#">
		<ion-label>Month</ion-label>
		<ion-datetime displayFormat="MMMM" [(ngModel)]="month" name="month"></ion-datetime>	
	</ion-item> -->
  <ion-item>
  <ion-label>Month</ion-label>
    <ion-select [(ngModel)]="month" formControlName="month" name="month">
      <ion-option value="January">January</ion-option>
      <ion-option value="February">February</ion-option>
      <ion-option value="March">March</ion-option>
      <ion-option value="April">April</ion-option>
      <ion-option value="May">May</ion-option>
      <ion-option value="June">June</ion-option>
      <ion-option value="July">July</ion-option>
      <ion-option value="August">August</ion-option>
      <ion-option value="September">September</ion-option>
      <ion-option value="October">October</ion-option>
      <ion-option value="November">November</ion-option>
      <ion-option value="December">December</ion-option>
    </ion-select>
  </ion-item>
	<ion-item href="#">
		<ion-label>Number Of Days</ion-label>
		<ion-input [(ngModel)]="days" type="number" name="days" formControlName="days" required text-right></ion-input>
	</ion-item>

  <ion-item *ngIf="!destinationForm.controls.days.valid  && (destinationForm.controls.days.dirty || submitAttempt)">
     <p>Please enter minimum 1 day and maximum 15.</p>
  </ion-item>

	<button ion-button type="submit" block>Go!</button>
</form>
<ion-slides autoplay="4000" pager loop>
        <ion-slide>
            <h4>Welcome!</h4>
            <p>Let us take care of you for the weekend</p>
        </ion-slide>
        <ion-slide>
            <h4>Escape For A Holiday!</h4>
            <p>Let us take care of you for the weekend</p>
        </ion-slide>
        <ion-slide>
            <h4>Make A Plan Easily!</h4>
            <p>Let us take care of you for the weekend</p>
        </ion-slide>
    </ion-slides>

</ion-content>