page-home {
	img {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }

    ion-slides {
        height: 200px;
        position: absolute;
        bottom: 100px;
 
        ion-slide {
            color: #fff;
        }
 
        h4 {
            font-weight: bold;
        }
 
        .swiper-pagination-bullet {
            background: map-get($colors, light);
        }
 
    }

    .myForm {
        //not responsive at the moment....
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    	width: 700px;

        .title{
            padding-left: 15px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        #formHeader{
            font-family: "Times New Roman", Times, serif;
            padding-bottom: 50px;
            font-size: 50px;
            text-align: center;
            color: white;
            text-transform: capitalize;

        }

        #submit{
            font-family: "Times New Roman", Times, serif;
            padding: 20px;
            font-size: 25px;
        }
        #space{
            padding: 8px;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #7E7AA0;
        }

    }
    
    .invalid {
        // border: 1px solid #ea6153;
        color: #ea6153;
        padding-left: 15px;
    }

    .screentext {

        padding-bottom: 60px;
        // background: #646464;
        // color: #1FC8EB;
        color: white;
        font-size: 130%;
    }

}
