<!DOCTYPE html>
<html>
<head>
	<title>Hello EJS++</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="animate.css">
</head>
<body class="container">