page-alternatives {
	.card-page {
		background: #A4CFF1;
		
		.card {
			width: 35%;
			float: left;
			position: relative;
			height: 70%;
			margin-top: 0;
		}

		.original {
			text-decoration: underline;
			font-weight: bold;
			color: red;
		}

		.alternative {
			text-decoration: underline;
			font-weight: bold;
			color: blue;
		}

		ion-scroll {
		    white-space: nowrap;
		    height: 200px;

		}

		

		
		
	}
}
