$primary-color: #488aff;

page-activity {
	
	.form{
		background: #78ACFF;
	}

	.activityForm{
		width: 100% ;
		height: 0;
		padding: 0% 0 70% 0;
		background: #78ACFF;

		input[type="text"] {
			font-size:18px;
			border-bottom: 1px solid white;
		}

	}

	// ion-label {
	// 	font-weight: bold;
	// 	color: $primary-color;
	// }

	// ion-input{
	// 	color: $primary-color;
	// }

	.squarebutton {
		width: 97.5% ;
		height: 0;
		padding: 30% 0 30% 0;
		border: 5px solid;
		border-color: #6EA2FC;
		font-size: 300%;
		background: white;
		
	}

	.smallsquare{
		width: 95% ;
		padding: 27% 0 27% 0%;
		border: 5px solid;
		border-color: #6EA2FC;
		font-size: 300%;
		background: white;
		border-collapse: collapse;
	}
}

