<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <button ion-button icon-only class="home" (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </button>
      <h2 class="header" style="display:inline;">Planning Trip to {{plan.country}} during {{plan.month}} for {{dayLength}} days</h2>
    </ion-title>

    <ion-buttons end>
      <button ion-button *ngIf="user && user.isLoggedIn" (click)="launchInvitePage()">
        <ion-icon name="person-add"></ion-icon>Invite
      </button>
      <button ion-button *ngIf="!user || !user.isLoggedIn" (click)="launchLoginPage()">
        <ion-icon name="person-add"></ion-icon>Invite
      </button>
      <button ion-button *ngIf="user && user.isLoggedIn" (click)="logout()">
        Logout
      </button>
      <button ion-button *ngIf="user && user.isLoggedIn">
        {{user.email}}
      </button>
      <button ion-button *ngIf="!user || !user.isLoggedIn" (click)="launchLoginPage()">
        Login
      </button>
      <button ion-button *ngIf="!user || !user.isLoggedIn" (click)="launchSignupPage()">
        SignUp
      </button>
      <button ion-button (click)="presentPopover($event)">
      	Plans
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="card-page">
  
  <ion-content class="background">

  <div>
      <button ion-button outline icon-only class="back" (click)="decreaseDay()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
        <h1 class="days" text-center style="display:inline;">DAY {{days}} of {{dayLength}}</h1>
      <button ion-button outline icon-only class="forward" (click)="increaseDay()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
  </div>


  <div  *ngFor="let activity of activities; let i = index;"> <!-- Added a div to cover each card so as to add an alternatives arrow per activity card -->

  <ion-card class="card" *ngIf="alt && altIndex == i">
    <ion-card-content>
      <div text-end>
        <button color="lightblue2" ion-button round outline small (click)="launchAlternativesPage(i)">{{activity.alternatives.length}}</button>
        <button color="lightblue2" ion-button outline (click)="launchAnotherPage(i)">
        <ion-icon class="suggest" color="lightblue2" name="paper"></ion-icon>Suggest Another Activity</button>
      </div>
      <ion-scroll scrollY="true" text-wrap *ngIf="alt">
        
        <ion-grid>
          <h1 class="duration">{{alt.duration}}</h1>
            <ion-row>
              <ion-col col-6 class="square">
                <ion-img *ngIf="alt.url1" width="380px" height="200px" src="{{alt.url1}}" ></ion-img>
                <button *ngIf="!alt.url1" ion-button block outline class="squarebutton" (click)="enterURL1()">+</button>
              </ion-col>
              <ion-col>
                  
                <h1 class="activity">{{alt.activity}}</h1>
                <h2 class="address">Address: {{alt.address}}</h2>
                <p class="opening">Opening Hours: {{alt.openingHours}}</p>

            </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col col-3>
                <ion-img *ngIf="alt.url2" width="185" height="105" src={{alt.url2}} ></ion-img>
                <button *ngIf="!alt.url2" ion-button block outline class="smallsquare" (click)="enterURL2()">+</button>
              </ion-col>
              <ion-col col-3>
                <ion-img *ngIf="alt.url3" width="185" height="105" src={{alt.url3}} ></ion-img> 
                <button *ngIf="!alt.url3" ion-button block outline class="smallsquare" (click)="enterURL3()">+</button>
              </ion-col >
              <ion-col col-6>
                <p class="expenses">Expenses: {{activity.expenses}}</p>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-3>
                <ion-img *ngIf="alt.url4" width="185" height="105" src={{alt.url4}} ></ion-img>
                <button *ngIf="!alt.url4" ion-button block outline class="smallsquare" (click)="enterURL4()">+</button>
              </ion-col>
              <ion-col col-3>
                <ion-img *ngIf="alt.url5" width="185" height="105" src={{alt.url5}} ></ion-img>
                <button *ngIf="!alt.url5" ion-button block outline class="smallsquare" (click)="enterURL5()">+</button>
              </ion-col>
              <ion-col col-6>
                <p class="remarks">Remarks: {{alt.remarks}}</p>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-grid>

      </ion-scroll>

      <div>
        <form (ngSubmit)="addAltComment(comment, alt)">
          <div text-end>
            <ion-input class="comment" [(ngModel)]="comment" name="comment" placeholder="write a comment..."></ion-input>
              <!-- <button ion-button type="submit" icon-only end><ion-icon name="send" md="md-send"></ion-icon></button> -->
          </div>
        </form>
      </div>

        <ion-item class="comment" *ngFor="let comment of alt.comments">
          <ion-label style="display:inline;" *ngIf="comment">{{comment.user}}: {{ comment.comment }} <button class="commentClose" ion-button round small outline icon-only (click)="deleteAltComment(comment, i)">
            <ion-icon name="close"></ion-icon>
          </button></ion-label>
          
        </ion-item>
        <ion-item color="lightblue2">
        <ion-buttons end>
          <button ion-button outline color="primary" (click)="increase(i)">
          <ion-icon name="thumbs-up"></ion-icon>{{activity.likes}}</button>
          <button ion-button outline color="primary" name="edit" (click)="editActivity(activity)">
          Edit</button>
          <button name="trash" class="cardButton" ion-button outline color="danger" (click)="deleteActivity(activity)">
           Delete</button>
        </ion-buttons>
        </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card class="card" *ngIf="i != altIndex">
    <ion-card-content>

      <div text-end>
        <button color="lightblue2" ion-button round outline small (click)="launchAlternativesPage(i)">{{activity.alternatives.length}}</button>
        <button color="lightblue2" ion-button outline (click)="launchAnotherPage(i)">
        <ion-icon class="suggest" color="lightblue2" name="paper"></ion-icon>Suggest Another Activity</button>
      </div>
<!--      <ion-grid>
        <ion-row align-items-center>
            <ion-col col-2>
            <ion-datetime displayFormat="hh:mm A" placeholder="Start Time"></ion-datetime>
            </ion-col>
            <ion-col col-1>
               <p>-</p>
            </ion-col>
            <ion-col col-2>
              <ion-datetime displayFormat="hh:mm A" placeholder="End Time"></ion-datetime>
            </ion-col>
        </ion-row>
      </ion-grid> -->

      <ion-scroll scrollY="true" text-wrap *ngIf="activity.activity">
        
        <ion-grid>
          <h1 class="duration">{{activity.duration}}</h1>
            <ion-row>
              <ion-col col-6 class="square">
                <ion-img *ngIf="activity.url1" width="380px" height="200px" src="{{activity.url1}}" ></ion-img>
                <button *ngIf="!activity.url1" ion-button block outline class="squarebutton" (click)="enterURL1()">+</button>
              </ion-col>
              <ion-col>
                  
                <h1 class="activity">{{activity.activity}}</h1>
                <h2 class="address">Address: {{activity.address}}</h2>
                <p class="opening">Opening Hours: {{activity.openingHours}}</p>

            </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col col-3>
                <ion-img *ngIf="activity.url2" width="185" height="105" src={{activity.url2}} ></ion-img>
                <button *ngIf="!activity.url2" ion-button block outline class="smallsquare" (click)="enterURL2()">+</button>
              </ion-col>
              <ion-col col-3>
                <ion-img *ngIf="activity.url3" width="185" height="105" src={{activity.url3}} ></ion-img> 
                <button *ngIf="!activity.url3" ion-button block outline class="smallsquare" (click)="enterURL3()">+</button>
              </ion-col >
              <ion-col col-6>
                <p class="expenses">Expenses: {{activity.expenses}}</p>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-3>
                <ion-img *ngIf="activity.url4" width="185" height="105" src={{activity.url4}} ></ion-img>
                <button *ngIf="!activity.url4" ion-button block outline class="smallsquare" (click)="enterURL4()">+</button>
              </ion-col>
              <ion-col col-3>
                <ion-img *ngIf="activity.url5" width="185" height="105" src={{activity.url5}} ></ion-img>
                <button *ngIf="!activity.url5" ion-button block outline class="smallsquare" (click)="enterURL5()">+</button>
              </ion-col>
              <ion-col col-6>
                <p class="remarks">Remarks: {{activity.remarks}}</p>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-grid>

      </ion-scroll>

        <!-- this should be a form tag, dont change it to an ion-item tag. Have to find another way to style it -->
      <div>
        <form (ngSubmit)="addComment(comment, i)">
          <div text-end>
            <ion-input class="comment" [(ngModel)]="comment" name="comment" placeholder="write a comment..."></ion-input>
              <!-- <button ion-button type="submit" icon-only end><ion-icon name="send" md="md-send"></ion-icon></button> -->
          </div>
        </form>
      </div>

        <ion-item class="comment" *ngFor="let comment of activity.comments">
          <ion-label style="display:inline;" *ngIf="comment">{{comment.user}}: {{ comment.comment }} <button class="commentClose" ion-button round small outline icon-only (click)="delete(comment, i)">
            <ion-icon name="close"></ion-icon>
          </button></ion-label>
          
        </ion-item>

          <ion-item color="lightblue2">
        <ion-buttons end>
          <button ion-button outline color="primary" (click)="increase(i)">
          <ion-icon name="thumbs-up"></ion-icon>{{activity.likes}}</button>
          <button ion-button outline color="primary" name="edit" (click)="editActivity(activity)">
          Edit</button>
          <button name="trash" class="cardButton" ion-button outline color="danger" (click)="deleteActivity(activity)">
           Delete</button>
        </ion-buttons>
        </ion-item>

    </ion-card-content>
    
  </ion-card>
  
  <!-- <button ion-button icon-only round small ><ion-icon name="arrow-dropleft"></ion-icon></button>
  <h2 text-center style="display:inline;">Alternatives</h2> -->
  <button ion-button icon-only round class="altButton" (click)="nextAlt(i)" *ngIf="activity.alternatives.length>0 && altCounter<activity.alternatives.length"><ion-icon name="arrow-dropright"></ion-icon></button>
  <button ion-button icon-only round class="backAltButton" (click)="prevAlt(i)" *ngIf="activity.alternatives.length>0 && altCounter>0"><ion-icon name="arrow-dropleft"></ion-icon></button>
  </div> <!-- Added a div to cover each card so as to add an alternatives arrow per activity card -->

  <ion-card>
    <ion-card-content>
      <ion-icon class="plus" name="add-circle" (click)="launchActivityPage()"></ion-icon>
      <p class="text"> Suggest New Activity!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
  
</ion-content>
