page-template {
	.card-page {

			input[type="text"] {
				font-size:18px;
				border-bottom: 1px solid white;
				// color: white; determines color to be used
			}


		.background{
			background-image: url("../assets/images/background4.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			
		}

		.suggest{
			font-color: #ebf2ff;
		}

		.card {
			width: 50%;
			position: relative;
			height: 55%;
			left: 25%;
			background: #78ACFF;
		}

		.plus {
			font-size: 130px;
			margin-top: 100px;
			position: relative;
		    top: 50%;
		    left: 45%;
		    height: 40%;
		    width: 10px;
		    height: 10px;
		    display: block;
		    color: white;

		}

		.text{
			margin-top: 320px;
			margin-left: 40%;
			position: relative;
			font: 150% Helvetica, sans-serif;
			color: white;
		}

		ion-scroll {
		    white-space: nowrap;
		    height: 200px;
		}
		ion-label {
			font-weight: bold;
		}

		.comment{
			// color: black;		
			// text-input-placeholder-color: black !important;


		}
		
	}
	

}

// ion-datetime{
// 	padding-end: 100%;
// 	padding-bottom: 100px;
// }

