<!--
  Generated template for the TemplatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="card-page">
	<!-- <p class="padding"></p> -->
	<ion-content class="background">
	<ion-card class="card" *ngFor="let activity of activities; let i = index;">
		<ion-card-content>
		<ion-buttons end >
			<button color="lightblue2" ion-button round outline small (click)="launchAlternativesPage(i)">{{activity.alternatives.length}}</button>
			<button color="lightblue2" class="cardButton" ion-button outline color="warning" (click)="launchAnotherPage(i)">
			<ion-icon class="suggest" name="paper"></ion-icon>Suggest Another Activity</button>
		</ion-buttons>
<!-- 			<ion-grid>
				<ion-row align-items-center>
					  <ion-col col-2>
						<ion-datetime displayFormat="hh:mm A" placeholder="Start Time"></ion-datetime>
						</ion-col>
					  <ion-col col-1>
					  	 <p>-</p>
					  </ion-col>
					  <ion-col col-2>
					  	<ion-datetime displayFormat="hh:mm A" placeholder="End Time"></ion-datetime>
					  </ion-col>
				</ion-row>
			</ion-grid> -->

			<ion-scroll scrollY="true" text-wrap *ngIf="activity.activity">
				
				<ion-grid>
					<h1>{{activity.duration}}</h1>
					  <ion-row>
					    <ion-col col-6 class="square">
					      <ion-img width="80px" height="80px" src="{{activity.url1}}" ></ion-img>
					    </ion-col>
					    <ion-col>
					    		
					   		<h1>{{activity.activity}}</h1>
					   		<h2>Address: {{activity.address}}</h2>

						</ion-col>
					  </ion-row>
					  
					  <ion-row>
					    <ion-col col-3>
					      <ion-img width="80" height="80" src={{activity.url2}} ></ion-img>
					    </ion-col>
					    <ion-col col-3>
					      <ion-img width="80" height="80" src={{activity.url3}} ></ion-img>	
					    </ion-col >
					    <ion-col col-6>
					    	<p>Opening Hours: {{activity.openingHours}}</p>
							<p>Expenses: {{activity.expenses}}</p>
					    </ion-col>
					    <ion-col>
					    </ion-col>
					  </ion-row>

					  <ion-row>
					    <ion-col col-3>
					      <ion-img width="80" height="80" src={{activity.url4}} ></ion-img>
					    </ion-col>
					    <ion-col col-3>
					      <ion-img width="80" height="80" src={{activity.url5}} ></ion-img>
					    </ion-col>
					    <ion-col col-6>
					      <p>{{activity.remarks}}</p>
					    </ion-col>
					    <ion-col>
					    </ion-col>
					  </ion-row>
					</ion-grid>

			</ion-scroll>


		   	<ion-item class="comment" color="lightblue" (ngSubmit)="addComment(form.value, i)">
	          	<ion-input [(ngModel)]="comment" name="comment" placeholder="write a comment..."></ion-input>
	          <button ion-button item-right type="submit" icon-only>
	          	<ion-icon name="send" md="md-send"></ion-icon>
	          </button>
	        </ion-item>

	      <ion-chip *ngFor="let comment of activity.comments">
	        <ion-label *ngIf="comment">{{comment.user}}: {{ comment.comment }}</ion-label>
	        <button ion-button small (click)="delete(comment, i)">
		    	<ion-icon name="close"></ion-icon>
		  	</button>
	      </ion-chip>

	      	<ion-item color="lightblue2">
				<ion-buttons end>
					<button ion-button outline color="primary" (click)="increase(i)">
					<ion-icon name="thumbs-up"></ion-icon>{{activity.likes}}</button>
					<button ion-button outline color="primary" name="edit" (click)="editActivity(activity)">
					Edit</button>
					<button name="trash" class="cardButton" ion-button outline color="danger" (click)="deleteActivity(activity)">
					 Delete</button>
				</ion-buttons>
		   	</ion-item>

		</ion-card-content>
		
	</ion-card>

	<ion-card class="card">
		<ion-card-content>
<!-- 			<ion-grid>
				<ion-row align-items-center>
					  <ion-col col-2>
						<ion-datetime displayFormat="hh:mm A" [(ngModel)]="fromDate" placeholder="Start Time"></ion-datetime>
						</ion-col>
					  <ion-col col-1>
					  	 <p>-</p>
					  </ion-col>
					  <ion-col col-2>
					  	<ion-datetime displayFormat="hh:mm A" [(ngModel)]="toDate" placeholder="End Time"></ion-datetime>
					  </ion-col>
				  </ion-row>
			</ion-grid> -->
			<ion-icon class="plus" name="add-circle" (click)="launchActivityPage()"></ion-icon>
			<p class="text"> Suggest New Activity!</p>
		</ion-card-content>
	</ion-card>

	<!-- <ion-card class="card">
		<ion-card-content>
			<ion-grid>
				<ion-row align-items-center>
					  <ion-col col-2>
						<ion-datetime displayFormat="hh:mm A" [(ngModel)]="fromDate" placeholder="Start Time"></ion-datetime>
						</ion-col>
					  <ion-col col-1>
					  	 <p>-</p>
					  </ion-col>
					  <ion-col col-2>
					  	<ion-datetime displayFormat="hh:mm A" [(ngModel)]="toDate" placeholder="End Time"></ion-datetime>
					  </ion-col>
				  </ion-row>
			</ion-grid>
			<ion-icon class="plus" name="add-circle" md="md-add-circle"></ion-icon>
		</ion-card-content>
	</ion-card>

	<ion-card class="card">
		<ion-card-content>
			<ion-grid>
				<ion-row align-items-center>
					  <ion-col col-2>
						<ion-datetime displayFormat="hh:mm A" [(ngModel)]="fromDate" placeholder="Start Time"></ion-datetime>
						</ion-col>
					  <ion-col col-1>
					  	 <p>-</p>
					  </ion-col>
					  <ion-col col-2>
					  	<ion-datetime displayFormat="hh:mm A" [(ngModel)]="toDate" placeholder="End Time"></ion-datetime>
					  </ion-col>
				  </ion-row>
			</ion-grid>
			<ion-icon class="plus" name="add-circle" md="md-add-circle"></ion-icon>
		</ion-card-content>
	</ion-card> -->
</ion-content>
</ion-content>
